<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sud_tanj.com.icare">

    <application
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity_" />
        <activity android:name=".Frontend.AuthiCare.LoginScreen_">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Frontend.Fragment.SensorCatalogue.AddModifyMonitor_" />
        <activity android:name=".Frontend.Fragment.DataCatalogue.DataDetails_"></activity>
    </application>

</manifest>